/.idea/modules.xml
/.idea/platinumcms-server-content.iml
/.idea/vcs.xml
/node_modules
/.idea/codeStyles/codeStyleConfig.xml
/.idea/workspace.xml
/.idea/platinumcms-content-service.iml
/platinumcms-content-service-dev.sqlite3
/dist/
